* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #777777;
  text-align: center;
}
button {
  display: inline-block;
  padding: 12px 30px;
  font-size: 17px;
  font-weight: bold;
  background-color: #e91e63;
  color: white;
  border: none;
  border-radius: 6px;
  margin: 20px 5px 0;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  background-color: #c91754;
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 820px;
  height: 820px;
  margin: 20px auto 0;
  gap: 2px;
  padding: 2px;
  border: 1px solid #a7a7a7;
  background-color: white;
}
