.navbar {
  background-color: var(--background-color);
}
.container {
  display: flex;
}
.links {
  display: flex;
  margin-left: auto;
}
a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 20px 25px;
  color: var(--seconary-color);
  transition: var(--primary-transition);
}

.logo {
  height: auto;
  font-size: 28px;
  font-weight: 600;
  padding-left: 20px;
}
.links a:hover,
.links a.active {
  background-color: var(--primary-color);
}

@media (max-width: 678px) {
  .logo {
    padding-left: 0;
  }
  a {
    padding: 20px 10px;
  }
}

.cart {
  display: flex;
  align-items: flex-end;
  font-size: 20px;
}
.icon {
  padding-top: 3px;
  position: relative;
}
.icon span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -15px;
  font-weight: 600;
  color: red;
}

.icon svg {
  width: 50px;
  fill: var(--seconary-color);
}
.mode {
  padding-left: 12px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: var(--primary-transition);
}
.mode svg {
  width: 40px;
  fill: var(--seconary-color);
}
