.home-page {
  height: calc(100vh - 98px);
  background-image: url(https://tinyurl.com/bdfykdte);
  background-size: cover;
  background-position: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.home-page::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(0 0 0 / 45%);
}
.intro-text {
  position: relative;
  max-width: 580px;
  color: #dadada;
  text-align: center;
}

.intro-text h1 {
  font-size: 45px;
  margin-bottom: 15px;
}
.intro-text p {
  font-size: 19px;
  line-height: 1.7;
}
