@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: url(../assets/app-background.jpeg) center/ cover no-repeat;
  min-height: 100dvh;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(76 175 80 / 40%);
}
.app {
  position: relative;
  width: 960px;
  margin: auto;
}

header {
  padding: 15px;
  text-align: center;
}

header h1 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 15px;
  color: white;
}

header .search-box {
  display: flex;
  gap: 10px;
}
header .search-box #city-name {
  flex: 1;
  padding: 10px 15px;
  font-size: 18px;
  background: transparent;
  color: white;
  outline: none;
  border: 3px solid #b2dfdb;
  border-radius: 5px;
  transition: 0.3s;
}

header .search-box #city-name::placeholder {
  color: white;
  transition: 0.3s;
}

header .search-box #city-name:focus {
  border-color: #009688;
}

header .search-box #city-name:focus::placeholder {
  opacity: 0;
}

header .search-box button {
  width: 160px;
  padding: 10px 15px;
  background-color: transparent;
  outline: none;
  border: 3px solid #009688;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
header .search-box button:hover {
  background-color: #009688;
}

header .temp-switch {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
header .temp-switch button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 600;
  background: transparent;
  color: white;
  border: 3px solid #009688;
  cursor: pointer;
  transition: 0.3s;
}
header .temp-switch button.active,
header .temp-switch button:hover {
  background-color: #009688;
}

.app-display {
  margin-top: 20px;
  color: #ffffff;
}

.app-display h2 {
  text-align: center;
}
.app-display h2 .today-date {
  display: block;
  font-weight: 300;
  font-size: 39px;
}
.app-display h2 .city-name {
  font-weight: 500;
  font-size: 45px;
  text-transform: capitalize;
}
.app-display .today-details {
  display: flex;
  margin-top: 30px;
}
.app-display .today-details > div {
  flex: 1;
  padding: 15px 25px;
  font-size: 28px;
  font-weight: 200;
}
.app-display .today-details > div img {
  max-height: 195px;
}
.app-display .today-details > div:first-of-type {
  text-align: center;
  border-right: 5px solid #009688;
}

.app-display .today-details > div #today-condition {
  margin-top: 10px;
  margin-bottom: 13px;
}
.app-display .today-details > div .day-temp {
  font-weight: 300;
  font-size: 35px;
}
.app-display .today-details > div:last-of-type > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.app-display .days-details {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  text-align: center;
  margin-top: 30px;
  row-gap: 20px;
}
.app-display .days-details img {
  height: 64px;
}
.app-display .days-details .day-name {
  font-weight: 300;
  font-size: 18px;
  margin: 5px 0 7px;
}
