.navbar {
  padding: 15px 0;
  box-shadow: 0px 5px 10px rgb(255 255 255 / 15%);
}

.light-mode .navbar {
  box-shadow: 0px 5px 10px rgb(0 0 0 / 15%);
}

@media print {
  .navbar {
    display: none;
  }
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar h1 {
  flex: 1;
  font-size: 50px;
  text-align: center;
}
.navbar button {
  width: 40px;
  background: none;
  border: none;
  cursor: pointer;
}
.navbar button#toggle-mode svg {
  stroke: var(--secondary-color);
}
